<?xml version="1.0"?>
<config>
    <modules>
        <Mageone_Qps>
            <version>0.1.0</version>
        </Mageone_Qps>
    </modules>
    <global>
        <helpers>
            <qps>
                <class>Mageone_Qps_Helper</class>
            </qps>
        </helpers>
        <models>
            <qps>
                <class>Mageone_Qps_Model</class>
                <resourceModel>qps_resource</resourceModel>
            </qps>
            <qps_resource>
                <class>Mageone_Qps_Model_Resource</class>
                <deprecatedNode>cms_mysql4</deprecatedNode>
                <entities>
                    <rule>
                        <table>mageone_qps_rules</table>
                    </rule>
                </entities>
            </qps_resource>
        </models>
        <resources>
            <qps_setup>
                <setup>
                    <module>Mageone_Qps</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qps_setup>
            <qps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qps_write>
            <qps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qps_read>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <controller_front_init_before_handler>
                        <type>singleton</type>
                        <class>qps/observer</class>
                        <method>checkRequest</method>
                    </controller_front_init_before_handler>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <qps_getrules>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>qps/cron::getRules</model>
                </run>
            </qps_getrules>
        </jobs>
    </crontab>
    <default>
        <qps_section>
            <config>
                <status>0</status>
            </config>
        </qps_section>
    </default>
</config> 